*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
main{
    margin: 0px;
    position: relative;
    height: 50px;
    width: 100%;
    padding:10px 0 0 0px;
    box-shadow: 0 1px 10px -1px rgb(0 0 0 / 20%);
}
.logo{
    position: absolute;  
    height: 50px;
    width: 50px;
    left: 50px;
    margin-top: 0px;
}
.text1{
    font-size: 25px;
    color: black;
    width: 100px;
    margin-top: 0px;
    padding-bottom: 10px;
    position: absolute;
    left: 75px;
}
nav{
    position: absolute;
    width: 50%;
    left: 230px;
    height: 100%;
    margin-top: 8px;
    color: #808080;
    font-size: 25px;
}
a{
    margin-right: 35px;
}
a:hover{
    border-bottom: 2px solid #6366F1;
    color: black;
    padding-bottom: 25px;
}

.container{
    width: 33%;
    height: inherit;
    position: relative;
    float: right;
}

.bell{
    position: absolute;
    right: 65px;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(219deg) brightness(99%) contrast(89%);
    
}
.searchicon{
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(219deg) brightness(99%) contrast(89%);

}
.user{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    margin-top: 0px;
}
pre{
    position: absolute;
    float: left;
    color: #808080;
    margin-top: 6px;
    margin-left: 20px;  
}
/* ----------------Header --------------- */
.main2{
    margin: 30px 20px 20px 20px;
}

.nav{
    float: left;
    width:50%;
    height: 120px;
}
.a1{
    margin: 0 35px;
}

/* -----------------body-------------- */
.txt2{
    clear: both;
    font-size: 55px;
}
.container{
    margin-left: 20px;
    float: left;
    width: 40%;
}
.nav{
    margin-top: 50px;
}
li{
    list-style: none;
    margin: 0 0 1rem 0;
}
.tick{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    float: left;
    filter: invert(44%) sepia(88%) saturate(2522%) hue-rotate(202deg) brightness(98%) contrast(97%);
}
.hero{
    width: 50%;
    height: 40%;
    float: right;
    border-radius: 8px;
    margin-right: 20px;
}
.form{
    position: relative;
    width: 420px;
    margin-top: 250px;
    height: 40px;

}
input{ 
    border: solid 1px;
    padding: 5px 10px;
    border-color: rgb(220, 213, 213);
    color: gray;
    width: 400px;
    padding: 10px ;
    float: left;
}
.btn2{
    margin-bottom: 2px;
    background-color: #3b82f6;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 9px 15px;
    bottom: 0;
    right: 0;
    position: absolute;
}
/*------------ Testimonial------- */
#testimonial{
    width:100%;
    padding:70px 0;
}
.testimonial-row{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap:wrap
}
.testimonial-col{
    flex-basis:28%;
    padding: 10px;
    margin-bottom:30px;
    border-radius:5px;
    box-shadow:0 10px 20px 3px #00968814;
    cursor:pointer;
}
.testimonial-col p{
    font-size:14px;
}
.user{
    display:flex;
    align-items:center;
    margin:20px 0;
}
.user img{
    width:40px;
    margin-right:20px;
    border-radius:3px;
}
.user-info .fa{
    margin-left:10px;
    color:#27c0ff;
    font-size:20px;
}
.user-info small{
    color:#009688
}
.testimonial-col:hover{
    transform:translateY(-7px);
}
@media screen and (max-width:770px) {
    .testimonial-col{
        flex-basis:100%;
    }
}


/*----footer----*/
#footer {
    background:#efefef;
    padding:100px 0 20px;
    position:relative;
}
.footer-row{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer-left, .footer-right{
    flex-basis:45%;
    padding:10px;
    margin-bottom:20px;
}
.footer-right{
    text-align:right;
}
.footer-row h1{
    margin:10px 0;
}
.footer-row p{
    line-height:35px;
}
.footer-left .fa, .footer-right .fa{
    font-size:20px;
    color:#009688;
    margin:10px;
}
.footer-img{
    max-width:370px;
    opacity:0.1;
    position:absolute;
    left:50%;
    top:35%;
    transform:translate(-50%,-50%);
}
.social-links{
    text-align:center;
}
.social-links .fa{
    height:40px;
    width:40px;
    font-size:20px;
    line-height:40px;
    border:1px solid #009688;
    margin:40px 5px 0;
    color:#009688;
    cursor:pointer;
    transition:0.5s;
}
.social-links .fa:hover{
    background:#009688;
    color:#fff;
    transform:translateY(-7px);
}
.social-links p{
    font-size:13px;
    margin-top:20px;
}
@media screen and (max-width:770px){
    .footer-left,.footer-right{
        flex-basis:100%;
        font-size:14px;
    }
    .footer-img{
        top:25% ;
    }
}